<!DOCTYPE html>
<html lang="en">

<head>
    <title>winner</title>
    <p style="display: none;" >Access-Control-Allow-Origin: * </p>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <script async src="./js/winnerView.js"></script>
    
    <title></title>
</head>

<body id="body">

    <h1>THE WINNER IS </h1>
    <h1 id="winnerGG"></h1>

    

</body>



